<?xml version="1.0"?>
<packages>
  <package id="microsoft-windows-terminal" />
  <package id="git" />
  <package id="virtualbox" />
  <package id="emacs" />
  <package id="docker-cli" />
  
  <!--
  # old
  <package id="multipass" /> -> install manually
  <package id="googlechrome.canary" />
  <package id="Firefox" />
  <package id="pandoc" />
  <package id="sqlite" />
  <package id="libreoffice" />
  <package id="unetbootin" /> 
  <package id="silverlight" />
  <package id="microsoft-windows-terminal" />
    
  # ops
  <package id="7zip.install" />
  <package id="git-lfs.install" />
  <package id="jenkins" />

  # cli-tool
  <package id="curl" />
  <package id="wget" />
  <package id="cmake" />
  <package id="windbg" />
  <package id="graphviz" />
  <package id="peco" />
  <package id="ffmpeg" />

  # gui-tool
  <package id="ConEmu" />
  <package id="cmder" />
  <package id="Atom" />
  <package id="putty" />
  <package id="teraterm" />

  # dev
  # java
  <package id="jdk8" />
  <package id="maven" />
  # ruby
  <package id="ruby" />
  <package id="ruby2.devkit" />
  # node.js
  <package id="nodejs.install" />
  # perl
  <package id="strawberryperl" />
  # ironpython(c#)
  <package id="ironpython" />
  # android
  <package id="androidstudio" />
  # R
  <package id="R.Studio" />
  # Go
  <package id="golang" />
  # Rust
  <package id="rust" />

  # vm
  <package id="virtualbox" />
  <package id="vmwareplayer" />
  <package id="docker" />
  <package id="vagrant" />

  # network
  <package id="wireshark" />
  <package id="apache-httpd" />
  <package id="jmeter" />
    -->
</packages>
